<div class="jumbotron text-center">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
        <img src="static/images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
    <div class="col-md-4 col-lg-4 col-sm-4">
        <h4>Django</h4>
        <p>
            Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.
        </p>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4">
        <h4>Angular</h4>
        <p>
            AngularJS is a toolset for building the framework most suited to your application development.
        </p>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4">
        <h4>Django + Angular</h4>
        <p>Bind them together to make most powerful web apps across the web.</p>
    </div>
</div>
